@inherits LayoutComponentBase

<main class="page-container dark-mode">
    <section class="section-outer-container">
        <section class="section-inner-container">
            @Body
        </section>
    </section>
</main>