.navbar {
    display: flex;
    height: 80px;
    width: 100%;
    padding: 0 10px;
    border-bottom: 1px solid var(--main-stroke-color);
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.navbar.dark-mode {
    background-color: var(--navbar-background-dark);
}

.navbar.light-mode {
    background-color: var(--navbar-background-light);
}

a {
    text-decoration: none;
}

.company-section {
    display: flex;
    align-items: center;
    column-gap: 20px;
    min-width: 150px;
    flex: 1 1 250px;
    white-space: nowrap;
    overflow: hidden;
}

.company-icon {
    width: 70px;
}

.navbar.light-mode .light-mode-icon {
    transform: rotate(180deg);
    transition-duration: 1.5s;
}
.navbar.dark-mode .light-mode-icon {
    transform: rotate(0deg);
    transition-duration: 1.5s;
}

.nav-searchbar {
    display: flex;
    width: 584px;
    min-width: 220px;
    height: 50px;
}

.company-title {
    font-size: 40px;
    text-decoration: none;
}

.company-title.dark-mode {
    color: var(--navbar-gamecatalogue-dark);
}

.company-title.light-mode {
    color: var(--navbar-gamecatalogue-light);
}

.nav-searchbar {
    display: flex;
    width: 584px;
    min-width: 158px;
    height: 50px;
}

#game-search-field {
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 25px 0 0 25px;
    background-color: var(--navbar-secondary);
    border: none;
    font-size: 25px;
}

.nav-searchbar .navbar-search-icon-button {
    display: flex;
    align-items: center;
    padding: 0 12px 0 5px;
    height: 100%;
    width: fit-content;
    border-radius: 0 25px 25px 0;
    background-color: var(--navbar-secondary);
    border: none;
    box-shadow: none;
}

.navbar-search-icon-button.dark-mode {
    border-left: var(--navbar-background-dark) solid 4px;
}

.navbar-search-icon-button.light-mode {
    border-left: var(--navbar-background-light) solid 4px;
}

.search-icon {
    max-height: 38px;
}

.navbar-ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    column-gap: 5px;
    flex: 1 2 300px;
    justify-content: space-between;
    max-width: 500px;
}

.circle-icon-main {
    cursor: pointer;
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
    height: inherit;

}

.user-username {
    display: flex;
    max-width: 300px;
    width: 100px;
    min-width: 150px;
}

.navbar.dark-mode .user-username{
    color: var(--navbar-gamecatalogue-dark);
}

.navbar.light-mode .user-username{
    color: var(--navbar-gamecatalogue-light);
}

/*dropdown menu*/
.navbar-menu {
    display: none;
    flex-direction: column;;
    row-gap: 10px;
    cursor: pointer;
}

.navbar-dropdown-active .profile-section {
    flex-direction: column;
    row-gap: 10px;
}

.navbar-menu > span {
    width: 48px;
    height: 4px;
    border-radius: 3px;
}

.navbar-menu.dark-mode > span {
    background-color: var(--navbar-gamecatalogue-dark);
}

.navbar-menu.light-mode > span {
    background-color: var(--navbar-gamecatalogue-light);
}

.navbar-menu:hover > span{
    background-color: var(--navbar-hover);
}

.navbar-dropdown-inactive, .navbar-dropdown-active {
    display: none;
}

.navbar.state-one .navbar-login-button {
    height: 50px;
    font-size: 40px;
}


@media all and (max-width: 1200px) {
    .user-username {
        display: none;
    }
}

/* state two */
@media all and (max-width: 1130px) {

    .navbar-menu {
        display: flex;
    }

    .state-one {
        display: none !important;
    }

    .navbar-dropdown-active {
        display: flex;
        padding: 10px 10px 10px 10px;
        flex-direction: column;
        align-items: center;
        position: absolute;
        row-gap: 10px;
        top: 90px;
        right: 10px;
        border: var(--main-stroke-color) 1px solid;
        border-radius: 15px;
        list-style-type: none;

        width: 100%;
        max-width: fit-content;

        box-shadow: 0 0 20px 4px black;

        z-index: 2;
    }

    .navbar-dropdown-active.dark-mode {
        background-color: var(--navbar-background-dark);
    }
    .navbar-dropdown-active.light-mode {
        background-color: var(--navbar-background-light);
    }
}

/* state three */
@media all and (max-width: 758px) {
    .navbar {
        height: 58px;
    }

    .nav-searchbar {
        height: 38px;
    }

    .navbar-menu {
        display: flex;
    }

    #game-search-field {
        padding: 10px ;
        font-size: 21px;
    }

    .state-one, .state-three{
        display: none;
    }

    .nav-searchbar {
        display: flex;
    }

    .company-icon {
        width: 44px;
    }

    .search-icon {
        width: 35px;
    }
    .company-section {
        min-width: 0;
    }
}