<nav class="navbar light-mode">
    <a href="/">
        <span class="company-section">
            <img class="company-icon" src="assets/navbar/joystick.png" alt="company-logo" />
            <p class="company-title light-mode state-three">Game Catalogue</p>
        </span>
    </a>

    <span class="navbar-light-mode-wrapper state-one">
        <img class="light-mode-icon" src="assets/navbar/lightmode.png" alt="Thema wijzigen" />
    </span>

    <section class="nav-searchbar">
        <form>
            <input type="text" id="game-search-field" placeholder="zoeken" />
            <button type="submit" class="navbar-search-icon-button light-mode">
                <img class="search-icon" src="assets/navbar/search.png" alt="Zoek" />
            </button>
        </form>
    </section>

    <ul class="navbar-ul state-one">
        <li>
            <a href="/">
                <img class="home-icon" src="assets/navbar/home.png" alt="Home pagina" />
            </a>
        </li>
        <li>
            <a href="/recommendations">
                <img class="recommended-icon" src="assets/navbar/recommended.png" alt="Aanbevelingen pagina" />
            </a>
        </li>
        <li>
            <a href="/favorites">
                <img class="favorite-icon" src="assets/navbar/favorite.png" alt="Favorieten pagina" />
            </a>
        </li>
    </ul>

    <div class="profile-section">
        <p class="user-username light-mode state-one">NoviUser</p>
        <img class="profile-icon state-one" src="assets/profilePictures/defaultProfile.png" alt="Profiel pagina" />
    </div>

    <div class="navbar-menu light-mode">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="navbar-dropdown-inactive light-mode">
        <li>
            <span class="navbar-light-mode-wrapper">
                <img class="light-mode-icon" src="assets/navbar/lightmode.png" alt="Thema wijzigen" />
            </span>
        </li>
        <li>
            <a href="/">
                <img class="home-icon" src="assets/navbar/home.png" alt="Home pagina" />
            </a>
        </li>
        <li>
            <a href="/recommendations">
                <img class="recommended-icon" src="assets/navbar/recommended.png" alt="Aanbevelingen pagina" />
            </a>
        </li>
        <li>
            <a href="/favorites">
                <img class="favorite-icon" src="assets/navbar/favorite.png" alt="Favorieten pagina" />
            </a>
        </li>
        <div class="profile-section">
            <img class="profile-icon state-two" src="assets/profilePictures/defaultProfile.png" alt="Profiel pagina" />
            <li>
                <button class="navbar-logout-button state-two">uitloggen</button>
            </li>
        </div>
    </div>
</nav>
