@page "/"

<PageTitle>Home</PageTitle>

<h1>Home pagina</h1>

<Button Class="my-button-class" OnClick="@Theme.ToggleTheme">
    Klik mij
</Button>

<CircleIcon Class="test-icon" IconPictureSource="https://eveks.nl/4432-large_default/test.jpg" Title="testingthisIcon">
</CircleIcon>


<CircleIcon Class="test-icon" IconPictureSource="https://eveks.nl/4432-large_default/test.jpg" Title="testingthisIcon"/>




@code {
    [CascadingParameter(Name = "Theme")]
    public ThemeService Theme { get; set; } = null!;
}