.button-main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-main-color);
    font-size: 26px;
    height: 42px;
    padding: 5px 21px 10px;
    border-radius: 15px;
    border: none;
}

.button-content::first-letter {
    text-transform: capitalize;
    color: var(--button-text-color-light);
}

.button-shadow {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.button-main:hover{
    background-color: var(--button-hover-dark);
}

.button-main::first-letter{
    text-transform: capitalize !important;
}

/* state three */
@media all and (max-width: 758px) {
    .button-main {
        font-size: 18px;
        border-radius: 11px;
        height: 35px;
        padding: 5px 12px 10px;
    }
}

