.circle-icon-main {
    background-color: var(--navbar-secondary);
    height: 60px;
    min-height: 60px;
    width: 60px;
    min-width: 60px;
    border:none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-icon-picture {
    max-width: 45px;
}

.circle-icon-main:hover {
    background-color: var(--navbar-hover);
}


/* state two */
@media all and (max-width: 1130px) {

}

/* state three */
@media all and (max-width: 758px) {
    .circle-icon-main {
        min-height: 45px;
        height: 45px;
        min-width: 45px;
        width: 45px;
    }
    .circle-icon-picture {
        max-width: 30px;
    }
}